
.profileDesign {

    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: x-large;
    color: darkgoldenrod;
    
    background-color: rgb(23,23,23);
    background-image:  url(../../../public/img/manos\ tatuando.webp);
    background-repeat: no-repeat;
    background-size:cover;
    overflow-y: scroll;
}

.logoDesign{
    height: 10em;
    width: 10em;
       
}
.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: darkgoldenrod;
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: rgb(95, 194, 59);
    cursor: pointer;
}