
.homeDesign {

    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkgrey;

    overflow-y: scroll;
}

.cardSubmit {

    height: 3em;
    width: 8em;

    
    color: rgb(23, 22, 22);
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center; 

}

.cardSubmit:hover {

    transition: 0.4s;
    color: whitesmoke;
    cursor: pointer;
}