.linkButtonDesign {
    width: 7em;
    height: 3em;

    color: whitesmoke;
    font-size: large;
    transition: 0.4s;
    margin-bottom: 0.5em;
}

.linkButtonDesign:hover {
    transform: scale(1.2);
    transition: 0.8s;
    color: darkgoldenrod;
    cursor: pointer;
}