.registerDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
    font-size: medium;
    background-color: rgb(20, 20, 20);

    background-image: url(../../../public/img/tatoo-maquina.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: scroll;
}

.logoDesign {
    height: 10em;
    width: 10em;
}

.errorMsg {
    font-size: medium;
    color: red;
}

.buttonSubmit {
    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: crimson;
    color: white;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {
    transition: 0.4s;
    background-color: lightcoral;
    cursor: pointer;
}