.headerDesign {
    width: 100vw;
    height: 25vh;

    background: darkgrey;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color:darkred;
    
}

.logoHeader {

    width: 12em;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}